Source: hodor
Section: utils
Priority: optional
Maintainer: Lliurex Team <lliurex@gva.es>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.1.2
Homepage: https://www.lliurex.net

Package: hodor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, llx-pam-configs
Description: Change home folder permissions for CDC users 
 Remove all other permissions from home folder for CDC users. This function is
 similar to home-linker, but more simple

